.home-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 8rem);
    margin-top: 8rem;
}

.left-panel {
    margin-top: 5rem;
    width: 15%;
    margin-left: 3rem;
}

.right-panel {
    width: 85%;
}

.devices {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    overflow-y: scroll;
    height: 35rem;
}

/* overrides */
.nav-tabs {
    border: none;
    gap: 3rem;
}

.nav-item .active {
    border: none;
}

.nav-link {
    color: #828282;
    font-weight: bold;
}

.nav-link:hover {
    color: #509E82;
}

.nav-link.active {
    color: #509E82 !important;
}

.btn-group-vertical {
    gap: 2rem;
}

.btn.btn-primary {
    background-color: white !important;
    color: #828282 !important;
    border: none !important;
}

.btn.btn-primary::click {
    background-color: white !important;
    color: #509E82 !important;
    border: none !important;
}